__pycache__
__MACOSX
.DS_Store
desktop.ini
*.pyc

# Pesonal files
*313551*
kaggle.json

# Model weights
model_weight
*.pth
*.pt
*.pkl
*.ckpt

# Dataset
dataset
*Dataset
Lab 2 - EEG Motor Imagery Classification.zip
nycu-dl-2024-summer-lab-4.zip

# Referece
*translated.pdf
*.mp4